<form class="-main" [formGroup]="userPasswordForm" autocomplete="off">
  <perfect-scrollbar>
    <div class="-scroll">
      <h1><i (click)="back()" class="mdi mdi-arrow-left"></i> New password</h1>

      <!-- title -->
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text"formControlName="title" />
        </mat-form-field>
      </div>
      <!-- /title -->

      <!-- username -->
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text"formControlName="username" />
        </mat-form-field>
      </div>
      <!-- /username -->

      <!-- password -->
      <div class="row">
        <div class="c-sm-6">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password"formControlName="secret" />
          </mat-form-field>      
        </div>
        <div class="c-sm-6">
          <mat-form-field>
            <mat-label>Repeat password</mat-label>
            <input matInput type="password"formControlName="repeatSecret" />
          </mat-form-field>      
        </div>
      </div>
      <!-- /password -->

      <!-- notes -->
      <div>
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput formControlName="notes" rows="4"></textarea>
        </mat-form-field>
      </div>
      <!-- /notes -->
    </div>
  </perfect-scrollbar>

  <div class="-actions text-right">
    <input class="btn btn-primary btn-raised m-0" type="button" (click)="save()" value="Save">
  </div>

</form>