<div class="login-wrapper l-row l-center-center">
      
  <form [formGroup]="registrationForm">
    
    <h1 class="text-center m-b-32">Registration</h1>

    <div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password1"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="password2"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="first_name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="last_name" />
      </mat-form-field>
    </div>

    <div class="text-center">
      <input class="btn btn-primary btn-raised" type="button" value="Ragister" (click)="register()">
    </div>

  </form>
      
</div>
  