<div class="sidenav">
  
  <!-- search -->
  <div class="m-b-32">
    <app-search></app-search>
  </div>
  <!-- /search -->

  <span class="divider-dark">Workspace</span>
  
  <app-tree [branchList]="ss.passwordGroup" [level]="0"></app-tree>

  <span class="divider-dark">User</span>

  <ul class="tree">
    <li>
      <a><span class="-link"><div class="-icon"><i class="mdi mdi-settings-outline"></i></div><span class="-text">Settings</span></span></a>
    </li>

    <li>
      <a [routerLink]="SgUrl.url('passwordGroupCreate')"><span class="-link"><div class="-icon"><i class="mdi mdi-plus"></i></div><span class="-text">Add Workspace</span></span></a>
    </li>

    <li>
      <a (click)="logout()"><span class="-link"><div class="-icon"><i class="mdi mdi-power"></i></div><span class="-text">Log out</span></span></a>
    </li>
  </ul>

</div>