@import "modules/variables";
@import "saigon/modules";

.sidenav {
  height: 100%;
  margin-left: -8px;
  border-right: 1px solid $divider-dark;
  padding: 32px 16px 16px 16px;
}

ul {
  li {
    a {
      cursor: pointer;
    }
  }
}