<div class="-main">

  <perfect-scrollbar>
    <div class="-scroll">
      <h1>{{ group['name'] }}</h1>
      
      <a class="entry" *ngFor="let entry of group['password_objects']" [routerLink]="SgUrl.url('userPasswordDetail', {passwordId: entry.id, groupId: ss.activeParentGroup['id'], subGroupId: ss.activeGroup['id']})">
        <div class="entry-icon"><i class="mdi mdi-key-outline"></i></div><span class="entry-text">{{ decrypt(entry.title) || 'Ładuję' }}</span>
      </a>
      
    </div>
  </perfect-scrollbar>

  <div class="-actions text-right">
    <a [routerLink]="SgUrl.url('userPasswordCreate', {groupId: ss.activeParentGroup['id']})" class="btn btn-primary btn-raised -icon m-v-0"><i class="mdi mdi-plus"></i></a>
  </div>
  
</div>

