@mixin tree-icon {
  @include layout("row" "center-center");

  border-radius: $sg-border-radius;
  background-color: $accent-dark;
  height: 42px;
  width: 42px;
  color: $secondary-text-dark;
}

@mixin tree-text {
  margin-left: 16px;
  color: $secondary-text-dark;
}