@import "saigon/modules/colors";
@import "saigon/modules/variables";

//== Ubuntu Font
$font-light: 400;
$font-medium: 500;

// Colors

$blue: #3D51FA;
$green: #1ABC0F;
$red: #D11A44;
$white: #fff;
$black: #000;
$accent: $blue;
$accent-dark: rgba(255,255,255,0.04);

// Global
$sg-border-radius: 4px;
$img-path: "/assets/img/";

// Scaffolding
$sg-body-bg: #1A1C22;
$sg-link-hover-decoration: none;

// Typography
$sg-font-family-sans-serif: 'Ubuntu', Helvetica, Arial, sans-serif;
$sg-font-family-serif: 'Ubuntu', Georgia, "Times New Roman", Times, serif;
$sg-font-family-base: $sg-font-family-sans-serif;

$sg-font-size-base: 14px;
$font-size-small: 12px !default;

$sg-link-color: $accent;
$sg-h1-color: $white;
$sg-h2-color: $white;
$sg-h3-color: $white;
$sg-h4-color: $white;
$sg-h5-color: $white;
$sg-h6-color: $white;

$sg-headings-font-weight: $font-medium;
$sg-h1-font-weight: $font-light;
$sg-h2-font-weight: $font-light;
$sg-h3-font-weight: $font-light;
$sg-h4-font-weight: $font-light;

$sg-h1-font-size:                         36px;
$sg-h2-font-size:                         24px;
$sg-h3-font-size:                         20px;
$sg-h4-font-size:                         18px;
$sg-h5-font-size:                         14px;
$sg-h6-font-size:                         12px;

// Normalize
$sg-strong-weight: $font-medium;
$sg-label-weight: $font-medium;

// Buttons
$sg-btn-underline: false;
$sg-btn-font-weight: $font-light;
$sg-btn-text-transform: inherit;
$sg-btn-raised-shadow: false;
$sg-btn-raised-text-color: $white;
$sg-btn-default-color: #757575; // $secondary-text-light bez opacity;
$sg-btn-primary-color: $accent;
$sg-btn-success-color: $green;
$sg-btn-border-radius: $sg-border-radius;
$sg-btn-padding: 8px 16px;

// Card
$sg-card-body-padding: 16px;
$sg-card-margin-bottom: 16px;
$sg-card-shadow: false;

// Field
$sg-field-label-top: 8px;
$sg-field-margin-top: 16px;
$sg-field-show-border-shadow: false;

// Components
$sg-border-radius:                          8px;

// Columns
$sg-grid-gutter: 16px;
$sg-grid-gutter-widths: (xs: $sg-grid-gutter,
  sm: $sg-grid-gutter,
  md: $sg-grid-gutter,
  lg: $sg-grid-gutter,
  xl: $sg-grid-gutter);

// Toast
$sg-toast-z-index: 1200;
$sg-toast-notification: (background_color: $white,
  text_color: $secondary-text-light,
  timeout_color: $blue,
  icon_color: $blue);

$sg-toast-info: (background_color: $blue,
  text_color: $primary-text-dark,
  timeout_color: $white,
  icon_color: $white);

$sg-toast-success: (background_color: $green,
  text_color: $primary-text-dark,
  timeout_color: $white,
  icon_color: $white);

$sg-toast-warning: (background_color: $orange,
  text_color: $primary-text-dark,
  timeout_color: $white,
  icon_color: $white);

$sg-toast-error: (background_color: $red,
  text_color: $primary-text-dark,
  timeout_color: $white,
  icon_color: $white);

$sg-toast-list: (notification: $sg-toast-notification,
  info: $sg-toast-info,
  success: $sg-toast-success,
  warning: $sg-toast-warning,
  error: $sg-toast-error);