<form class="-main" [formGroup]="passwordGroupForm" autocomplete="off">
    <div>
      <h1>New Group</h1>
  
      <!-- name -->
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
      <!-- /name -->
    </div>
  
    <div class="-actions text-right">
      <input class="btn btn-primary btn-raised m-0" type="button" (click)="save()" value="Save">
    </div>
  
</form>