<div>
  <p for="">Klucz prywatny</p>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="privateKey"></textarea>
</div>
<p for="">Klucz publiczny</p>
<textarea name="" id="" cols="30" rows="10" [(ngModel)]="publicKey"></textarea>
<p for="">Zaszyfrowana wiadomość</p>
<textarea name="" id="" cols="30" rows="10" [(ngModel)]="encryptedPass"></textarea>
<p for="">Zdeszyfrowana wiadomość</p>
<textarea name="" id="" cols="30" rows="10" [(ngModel)]="decryptedPass"></textarea>



<button (click)="setKeys()">setKeys</button>
<button (click)="encryptPass()">encryptPass</button>
<button (click)="decryptPass()">decryptPass</button>

<hr>

<button (click)="enctryptPassConsole()">enctrypPassConsole</button>
<button (click)="dectryptPassConsole()">dectryptPassConsole</button>