@import "modules/variables";
@import "saigon/modules";

.sidenav {
  height: 100%;
  margin-left: 0;
  border-right: 1px solid $divider-dark;
  padding: 16px 0 16px 0;

  .-main {
    margin-right: 0;
  }

  .-actions {
    padding-bottom: 0;
  }

}

ul {
  li {
    a {
      cursor: pointer;
    }
  }
}

