<div class="sidenav">
  <div class="-main">
    
    <app-tree [branchList]="ss.passwordGroup" [parentList]="getParentList()"></app-tree>

    <div class="-actions text-right">
      <a [routerLink]="SgUrl.url('passwordGroupCreate', {groupId: ss.activeParentGroup['id'], subGroupId: ss.activeGroup['id']})" class="btn btn-primary btn-raised -icon m-v-0"><i class="mdi mdi-plus"></i></a>
    </div>

  </div>
</div>