<!-- <pre>{{ parentList|json }}</pre>
<pre>{{ ss.activeGroup|json }}</pre> -->

<ul class="tree">
  <ng-container *ngFor="let branch of branchList">
    
    <li [ngClass]="{'-active': isActive(branch)}" [ngStyle]="{'padding-left': calcualtePadding(branch.level, false)}" *ngIf="showBranch(branch.level, branch.parent)">
      <span class="-link-wrapper" (click)="getDetails(branch)">
        <span class="-link">
          <div class="-icon">{{ branch.name[0] }}</div><span class="-text">{{ branch.name }}</span>
        </span>
        <!-- @FG kiedys dodamy zliczanie -->
        <!-- <span class="-badge">0</span> -->
      </span>
      
      <!-- <a [routerLink]="SgUrl.url('passwordGroupDetail', {groupId: branch.id})"> -->
      <!-- </a>   -->
    </li>

  </ng-container>
</ul>