@import "modules/mixins";

.entry-icon {
  @include tree-icon();
}

.entry-text {
  @include tree-text();
}

.entry {
  @include layout("row" "start-center");

  background-color: $accent-dark;
  border-radius: $sg-border-radius;
  padding: 8px;

  &:not(:last-child){ 
    margin-bottom: 16px;
  }
}