@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

html, body {
  height: 100%;
}

// main
.-main {
  @include layout("row" "column" "space-between-stretch");

  height: 100%;
  margin-right: -8px;

  .-scroll {
    padding-right: 16px;
  }

  .-actions {
    padding: 16px;
  }
}

// scroll

.ps {
  &.ps--scrolling-y {
    .ps__rail-y {
      background-color: $divider-dark !important;
    }
  }
}

.ps .ps__rail-y:hover {
  background-color: $divider-dark !important;
}

// mat field
mat-form-field {
  width: 100%;

  .mat-form-field-flex {
    background-color: $divider-dark !important;
  }

  .mat-input-element {
    caret-color: $white;
    color: $white;
  }

  .mat-form-field-label {
    color: $secondary-text-dark;
  }

  .mat-form-field-underline::before {
    background-color: $hint-text-dark !important;
  }

  .mat-form-field-ripple {
    background-color: $accent !important;
  }
  
  &.mat-focused {
    .mat-form-field-label {
      color: $secondary-text-dark !important;
    }
    
    .mat-form-field-ripple {
      background-color: $accent !important;
    }
  }
  
}

// button icon
.btn.-icon {
  padding: 8px 10px;
}

// buttons shadows
.btn.btn-raised {
  &.btn-primary {
    @include box-shadow(0px 0px 6px 0 $accent);
  }
}