@import "modules/mixins";

// tree
.tree {
  padding: 0;

  li {
    list-style: none;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &.-active {
      &::before {
        @include box-shadow(0px 0px 6px 0 $accent);

        content: "";
        height: 100%;
        width: 4px;
        background-color: $accent;
        border-radius: 0 $sg-border-radius $sg-border-radius 0;
        position: absolute;
        left: -16px;
      }
    }

    .-link-wrapper, a {
      @include layout("row" "space-between-center");
      
      cursor: pointer;

      .-link {
        @include layout("row" "start-center");
        
        .-icon {
          @include tree-icon();
        }
        
        .-text {
          @include tree-text();
          
        }
      }
      
      .-badge {
        font-size: 12px;
        background-color: $accent-dark;
        border-radius: $sg-border-radius;
        padding: 2px 4px;
        color: $secondary-text-dark;
      }
      
    }
    
  }
}