<div class="router container-fluid">
  <div class="-wrapper" [ngClass]="{'row': ss.hideSidenav == false}">
    <!-- sidenav -->
    <div class="c-3 c-lg-2" *ngIf="ss.hideSidenav != true">
      <app-sidenav></app-sidenav>
    </div>

    <div class="c-3 c-lg-2" *ngIf="ss.hideSidenav != true && (ss.activeParentGroup|json) != '{}'">
      <app-sub-sidenav></app-sub-sidenav>
    </div>
    <!-- /sidenav -->
    
    <!-- router -->
    <div class="-column" [ngClass]="{'c-6 c-lg-8': ss.hideSidenav == false, 'c-9 c-lg-10': (ss.activeParentGroup|json) == '{}' && ss.hideSidenav != true}">
      <router-outlet></router-outlet>
    </div>
    <!-- /router -->
    
  </div>
</div>