<ng-container *ngIf="(users$ | async) as users">
  <div>
  <perfect-scrollbar>
    <div class="-scroll">
      <h1>{{ decryptedPassword['title'] }}</h1>

      <!-- title -->
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" [(ngModel)]="decryptedPassword['title']" readonly/>
        </mat-form-field>
      </div>
      <!-- /title -->

      <!-- username -->
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="decryptedPassword['username']" readonly/>
        </mat-form-field>
      </div>
      <!-- /username -->

      
      <!-- notes -->
      <div>
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput [(ngModel)]="decryptedPassword['notes']" rows="4" readonly></textarea>
        </mat-form-field>
      </div>
      <!-- /notes -->

      <!-- password -->
      <div class="row">
        <div class="c-sm-12">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <textarea matInput type="password" [(ngModel)]="secretField" rows="4"  readonly></textarea>
          </mat-form-field>      
        </div>
      </div>
      <!-- /password -->
    </div>
  </perfect-scrollbar>

  <div class="-actions text-left">
    <button (click)="toggleSecret()" class="btn btn-primary btn-raised -icon m-v-0"><i class="mdi mdi-eye-outline"></i> {{ actionName }}</button>
  </div>

</div>

<form class="m-v-16" [formGroup]="sharePassForm"> 
    <mat-form-field>
      <mat-label>Select user</mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.first_name}}
        </mat-option>
      </mat-select>
    </mat-form-field> 
  </form>
  <button (click)="sharePass()" class="btn btn-primary btn-raised -icon m-v-0">Share</button>
  

</ng-container>
