@import "modules/variables";
@import "saigon/modules";

.search {
  @include layout("row" "center-start");
  
  display: block;
  
  .-wrapper {
    @include layout("row" "start-center");
    height: 42px;
    background: red;
    border-radius: $sg-border-radius;
    background-color: $divider-dark;
    padding-left: 8px;

    input {
      width: 100%;
      display: flex;
      height: 42px;
      padding: 12px 12px 12px 8px;
      border: none;
      color: $white;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    i {
      color: $white;
      font-size: 18px;
      line-height: 18px;
      vertical-align: middle;
    }

  }

}