.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 500px;
  }
  h2 {
    font: Regular 36px/42px Ubuntu;
  }
  p {
    color: #707275;
    font: Regular 24px/28px Ubuntu;
  }

  b {
    color: #3D51FA;
  }

}