
<div class="login-wrapper">
  <h2 class="text-center m-b-16">Hello {{ user.firstName }}, Paste your certificate</h2>
  <p class="m-t-0">Your certificate will be store in your's <b>browser</b> data storage.</p>
  <form [formGroup]="userPrivateKeyForm">
    <!-- private key -->
    <div>
      <mat-form-field>
        <mat-label>Private Key</mat-label>
        <textarea matInput formControlName="privateKey" rows="24"></textarea>
      </mat-form-field>
    </div>
    <!-- /private key -->
    <div class="text-center">
      <input class="btn btn-primary btn-raised" type="button" (click)="save()" value="Save">
    </div>
  </form>
</div>

