<div class="login-wrapper l-row l-center-center">
      
  <form [formGroup]="loginForm">
    
    <h1 class="text-center m-b-32">Log in</h1>

    <div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password"/>
      </mat-form-field>
    </div>

    <div class="text-center">
      <input class="btn btn-primary btn-raised" type="button" value="Login" (click)="logIn()">
    </div>

  </form>
    
</div>
